
.body{
    
    height: 100vh;
    width:99%  ; 
    overflow-y: hidden;
  }
  
  .maindiv{
    height: 100vh;
    width:100%;
    background-color: aliceblue;
    
     float:left;
    
  }
  
  
  
  .top{

    height: 25vh;
    width:100%;
    background-image: url(../images/pineapple-supply-co-Q7PclNhVRI0-unsplash.jpg);
    background-size: 235px;
  }
  
  
  
  
  .left{

    height: 120vh;
    width:70%;
    float: left; 
    position: relative;    
 
  }
  
  
  
  
  .right{
    
  

    border-radius: 30px;
    height: 90vh;
    width:30%;
    position: relative;
    /* float: left; */
    left:950px;
    top:150px;
    background-image: url(../images/natalie-cardona-W8BRzoUTHNA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-color: aliceblue;
    
  }
  
  
  
  
  .headings a:hover{
    background-color: black;
    border-radius: 4px;   
  }
  
  a{
  color: white;
  text-decoration: none;
  }
  
  .billboard a{
    color: black;
  }
  img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
  }
  
  
  .headings{
  
    height: 10vh;
    width:100%;
    position: relative;
    top: 15px;
    font-family: 'bungee';
  }
  
  .homepage{

    height: 8vh;
    width:9%;
    position: relative;
    top: 5px;
    left: 10px;
    text-align: center;
    vertical-align: middle;
    font-family: 'bungee';
    float:left;
    color: white; 
    right: 20px;   
  }
  
  .trending{
  
    height: 8vh;
    width:8%;
    position: relative;
    top: 5px;
    text-align: center;
    vertical-align: middle;
    font-family: 'bungee';
    float:left;
    color: white;
    left: 20px;      
  }
  
  .newreleases{

    height: 8vh;
    width:12%;
    position: relative;
    top: 5px;
    text-align: center;
    vertical-align: middle;
    font-family: 'bungee';
    float:left;
    color: white; 
    left: 30px;      
  }
  
  .toprated{

    height: 8vh;
    width:9%;
    position: relative;
    top: 5px;
    text-align: center;
    vertical-align: middle;
    font-family: 'bungee';
    float:left;
    color: white; 
    left: 40px;    
  }
  
  .featured{

    height: 8vh;
    width:8%;
    position: relative;
    top: 5px;
    text-align: center;
    vertical-align: middle;
    font-family: 'bungee';
    float:left;
    color: white; 
    left: 50px;   
       
  }
  
  .tour{
   
    height: 8vh;
    width:5%;
    position: relative;
    top: 5px;
    text-align: center;
    vertical-align: middle;
    font-family: 'bungee';
    float:left;
    color: white;
    left: 60px; 
  
  }

  .calander{
    height:10%;
    width: 8%;
    float: left;
    text-align:center;
    vertical-align: middle;
    line-height: 5px;
    font-family: geneva;
    font-size: medium;
    color:white;
    position: relative;
    top:17px;
    left:70px;
    font-family: 'bungee';  


} 
 input{
  border: 3px solid white;
  height: 40px;
  width: 300px;
  border-radius: 50px;
  padding: 0px 15px;
  font-family: geneva;
  font-size: medium;
  position: relative;
  left: 240px;
  top:15px;
  outline:none;
   /* border-color: black ;
  border-style: dotted;*/
}

.searchbutton{
  position: relative;
  left: 1380px;
  bottom: 37px ;
  width: 1.5%;
}
  
  .loader  img{
 
    background-color: #E7DFDE;
  
 
   
  
  }
  
  .loader{  
  
    z-index: 99;
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: #E7DFDE;

}
    

body .loader{
  overflow:hidden; 
}

body.loading .loader{
  display:block; 
  
  
}

body.loaded .loader{
  display: none; 
}

  
  
  .trendingbox{
    border-color: #E7DFDE;
    border-style: solid;
    width: 92%;
    height: 10vh;
    position: relative;
    bottom: 120px;
    font-family: 'bungee';
    text-align: center;
    vertical-align: middle;
    left:10px;
    border-radius: 10px;
    color: white;
    background-color: #E7DFDE;
    padding-right: 10px;
    
    
  }
  
  .trendinglabel1{
    
    position: relative;
    text-align: center;
    vertical-align: middle;
    left: 5px;
    bottom: 710px;
    height: 95%;
    font-size: 50px;
    font-family: 'bungee';
    box-shadow: 5px 5px 5px grey;
  }
  
 
  
   .box1 {
    background-color: transparent;
    width: 19.8%;
    height: 25vh;
    perspective: 1000px;
 
    border-radius: 30px;
    float: left;
    position: relative;
    left: 25px;
  }
  
  .box {
    background-color: transparent;
    width: 19.8%;
    height: 25vh;
    perspective: 1000px;

    border-radius: 30px;
    margin-top: 2rem;
    float: left;
    position: relative;
    left: 25px;
    
  }
  
  .boxinner {
    position: relative;
    width: 100%;
    height: 100%;
 
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
  }
  
  .box:hover .boxinner {
    transform: rotateY(180deg);
  }
  
  .boxfront, .boxback {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .boxfront {
    
    color: black;
   
  }
  
  .boxback {
    background-color: #E7DFDE;
    color: black;
    transform: rotateY(180deg);

    padding-top: 10px;
    border-radius: 30px;

   
  }

  #albumContainer{
    width: 100%;
    height: 33vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    padding-top: 20px;
    /* padding-right:200px; */
 
  } 
  .left{
    width: 60%;
    height: 92vh;
    float: left;
}

  .artist-name{
    margin-top: 0.1rem;
    margin-left: 1rem;
  }
   
  






